<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/apropos.css">
  </head>
  <body>
    <div class="header">
      <div class="Logo-container">
        <div class="Logo">
          <img src="/static/image/logo.png" alt="tracker" class="logo-image" onclick="window.location.href='/'">
        </div>
      </div>
      <!--barre de recherche-->
      <div class="input-search">            
        <form action="/" method="post">
          <button type="button" class="home-button" onclick="window.location.href='/home'">&#8962;</button>
          <input type="text" id="recherche" name="recherche" placeholder="Rechercher...">
        </form>
      </div> 
    </div>
    <div class="bottom-page">
      <!--onglet de photo-->
      <div class="apropos-container">
        <div class="apropos">
          <h2>A propos</h2>
        </div>
        <div class="bottom-popup-apropos">
          <div class="comment">
            <h3>Comment ça marche ? <br><br>Vous pouvez rechercher des artistes à l'aide de filtres. <br>Vous pouvez cliquer sur un artiste pour voir ses informations.</h3>
          </div>
          <div class="nous-contact">
            <div class="nous">
              <h3>Qui sommes-nous ? <br><br>Nous sommes des étudiants du campus Ynov à Montpellier</h3>
            </div>
            <div class="contact">
              <h3>Nous Contacter :<br><br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">01 57 64 31 79</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-container">
      <p>©2024 Tracker</p>
      <a href="/" class="button">Page d'accueil</a>
    </footer> 
    <script src="/static/js/favoris.js"></script>
  </body>
</html>