<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pageartiste.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <title>Page Artiste</title>
  </head>
  <body>
    <!-- ===============================
         HEADER
    ================================ -->
    <div class="header">
      <div class="logo-container">
        <div class="logo">
          <img 
            src="/static/image/logo.png" 
            alt="tracker" 
            class="logo-image" 
            onclick="window.location.href='/'"
          >
        </div>
      </div>

      <!-- ===============================
           BARRE DE RECHERCHE
      ================================ -->
      <div class="input-search">
        <form action="/home" method="post">
          <button 
            type="submit" 
            class="home-button" 
            onclick="window.location.href='/home'"
          >
            &#8962;
          </button>
          <input 
            type="text" 
            autofocus 
            id="search-input" 
            name="mot" 
            placeholder="Rechercher..."
          >
        </form>
      </div>
    </div>

    <!-- ===============================
         CONTENU PRINCIPAL
    ================================ -->
    <div class="bottom-page">
      <!-- Onglet artiste -->
      <div class="artiste-container">
        <div class="top-popup-artiste">
          <div class="artiste">
            <div class="photo-artiste" id="artist-image"></div>

            <div class="name-artiste" id="artist-name"></div>
          </div>

          <div class="date-de-creation-membres-container">
            <div 
              class="date-de-creation" 
              id="artist-creation-date"
            ></div>

            <div class="membres-container" id="artist-members">
              <div class="membres"></div>
            </div>
          </div>
        </div>

          <div class="bottom-popup-artiste">
            <div class="premier-album-lieu-de-concert-container">
              <div 
                class="premier-album" 
                id="artist-first-album"
              ></div>
              <div 
                class="lieu-de-concert" 
                id="artist-dates-locations"
              ></div>
            </div>
            <div class="api-container">
              <div class="api">
                <div id="map" class="map"></div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- ===============================
         FOOTER
    ================================ -->
    <footer class="footer-container">
      <p>©2024 Tracker</p>
      <a href="/apropos" class="button">À propos</a>
    </footer>

    <!-- Script JS -->
    <script src="../static/js/pageartiste.js"></script>
  </body>
</html>
